@import "var.scss";

.home {
  .date {
    font-size: 12px;
    color: #6b6b6b;
  }
  .reply {
    font-size: 12px;
    color: #6b6b6b;
  }
  .name {
    margin-left: 0;
    font-size: 12px;
    color: #eb7350;
  }
  .content {
    color: #333333;
    font-size: 12px;
    word-break: break-all;
  }
  .section {
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    padding: $content-padding;
    background-color: $color-white;
    box-sizing: border-box;
    .section-title {
      height: 60px;
      line-height: 60px;
      padding-top: 10px;
      font-size: 28px;
      font-weight: 500;
      text-align: center;
      color: $color-black;
      box-sizing: border-box;
    }
    .section-content {
      border-color: darkgray;
    }

    .section-user-comment {
      overflow: hidden;
      width: $header-user-comment-width;
      height: $header-user-comment-height;
      // border-radius: 25%;
      margin: auto;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .section-user {
      overflow: hidden;
      width: $header-user-width;
      height: $header-user-height;
      border-radius: $header-user-radius;
      margin: auto;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .section-timestamp {
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      font-weight: normal;
      box-sizing: border-box;
      color: #808080;
    }
    .section-bottom {
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      font-weight: normal;
      box-sizing: border-box;
      color: #808080;
      text-align: center;
      .no-text-decoration {
        text-decoration: none;
      }
      .el-button--text {
        color: #808080;
      }
    }
  }
}
.pull-right {
  float: right;
}

.pull-right-2 {
  float: right;
  margin-right: 2px;
}
